// Editor Page: Styles for the page content editor.

@use "members" as *;

.editor-page {
	display: block;
	padding-bottom: 44px;
	&-nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
		@include viewport {
			@include modular-scale(0, padding);
		}
	}
	&-controls {
		position: fixed;
		z-index: 1;
		inset: auto size(-1) 0;
		display: flex;
		flex-flow: column nowrap;
		max-width: $md;
		height: 95vh;
		max-height: $md;
		border-width: 1px 1px 0;
		border-style: solid;
		margin: 0 auto;
		transition: transform 300ms ease-out;
		overflow: hidden;
		&:not(:hover, :focus-within, .active) {
			transform: translateY(100%) translateY(-44px);
		}
		@include container(editor-page-controls);
		@include color-schemes using ($color) {
			border-color: contrast-color($gray, $color, a11y(aa ui));
			background-color: $color;
			box-shadow: 0 -8px 16px -12px color-shift($color, 25%);
		}
		.note-list {
			margin: 0;
		}
		.editable-note {
			display: block;
			flex: 1 1 0;
		}
		.note-controls {
			display: flex;
			flex-flow: row wrap;
			padding: size(-3);
			& > * {
				flex: 1 1 auto;
			}
		}
	}
	&-content {
		display: block;
		box-sizing: content-box;
		max-width: $lg;
		margin: 0 auto;
		@include viewport {
			@include modular-scale(2) using ($size) {
				padding: 0 $size $size;
			}
		}
	}
}