// Heading: Styles for the application greeter or header.

@use "members" as *;

.heading {
	display: block;
	width: 100%;
	&-title, &-subtitle {
		margin-top: 0;
	}
	&-title {
		font-family: var(--brand-font);
		@include font-size(5);
	}
}