// Login Page: Styles for the app login page.

@use "members" as *;

.login-page {
	display: block;
	width: $lg;
	padding: var(--xx-large);
	margin: auto;
	@include container(login-page);
	fieldset {
		padding: 0;
		margin: var(--xx-small) 0;
		border: none;
	}
	&-inputs {
		display: flex;
		flex-flow: row wrap;
		gap: var(--smaller);
		& > * {
			flex: 1 1 auto;
		}
	}
	&-buttons {
		text-align: right;
	}
}