// Note List: Styles for the user note picker.

@use "members" as *;

.note-list {
	display: block;
	max-height: 45px;
	line-height: 44px;
	list-style: none;
	padding: 0;
	margin: 0;
	transition: max-height 300ms linear;
	overflow: auto;
	&:hover, &:focus {
		max-height: $sm;
	}
	&-item {
		display: block;
		font-family: var(--brand-font);
		font-size: var(--larger);
		padding: 0 size(0);
		cursor: pointer;
		&:not(:hover) {
			transition: background-color 150ms linear;
		}
		@include color-schemes using ($color) {
			background-color: $color;
			border-bottom: 1px solid contrast-color($gray, $color, a11y(aa ui));
			&:hover, &:focus {
				background-color: color-shift($color, 5%);
			}
			&:active {
				background-color: color-shift($color, 10%);
			}
		}
	}
}